@import "tailwindcss";

@layer base {
  body {
    @apply bg-devotional-bg text-devotional-text antialiased;
  }
}

@keyframes fade-out-text {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  20% {
    opacity: 1;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-out-special {
  animation: fade-out-text 2.2s forwards ease-in-out;
}

.animate-fade-in {
  animation: fade-in 0.8s forwards ease-out;
}